.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.minHei{
    min-height: 75%;
}

.start{
    justify-content: flex-start;
}

.col{
    flex-direction: column;
    justify-content: flex-start;
}